@font-face { font-family: Delicious; src: url('styles/faant.otf'); }
*{
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background-color: darkblue;
    height: 200vh;
    overflow-x: hidden;
}
.parallax {
    position: absolute;
    top: 0;
    overflow: hidden;
    position: relative;
    height: 100vh;
    margin-bottom: 30px;
}
.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}
.polio{
    font-size: 48px;
    font-family: Delicious;
}
@media (max-width:780px){
    .parallax{
        height: 80vh;
    }
    .parallax img{
        height: 80vh;
    }
}
@media (max-width:632px){
    .parallax{
        height: 60vh;
    }
    .parallax img{
        height: 60vh;
    }
    .polio{
        font-size: 36px;
    }
}
@media (max-width:490px){
    .parallax{
        height: 35vh;
    }
    .parallax img{
        height: 35vh;
    }
    .polio{
        font-size: 24px;
    }
}
.blob{
    width: 100px;
    height: 50vh;
    background-color: red;
}

.Explore{
    display: flex;
    position: absolute;
    margin-top: 0px;
    top: 50%;
    left: 50%;
    font-family: Delicious;
    align-items: center;
}
#back-m{
    transform: translateY(-1.2px);
}
.Explore p{
    z-index: 1;
    background-color: white;
    position: relative;
    color: black;
    overflow: hidden;
    padding: 10px 25px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
}
.Explore p::after{
    content: '';
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    background-color:darkgoldenrod;
    transform: scaleX(0);
    width: 100%;
    height: 100%;
    transition: 0.3s;
    z-index: -1;
}
.Explore p:hover{
    color: black;
}
.Explore p:hover::after{
    transform: scaleX(1);
}

#text{
    top: 40%;
    left: 45%;
    position: absolute;
    white-space: nowrap;
    text-align: center;
}
